@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    flex: 1 0 auto;
    
}

.wrapper > * {
    padding: 10px;
    /*    flex: 1 100%;*/
    flex: 1 0 auto;
}



.header {
    background: tomato;
}

.footer {
    background: lightgreen;
}

.main {
    text-align: left;
/*    background: deepskyblue;*/
    background-image: linear-gradient(to right, rgb(0, 207, 210) , rgb(0, 147, 180));
    padding-top: 50px;
}
table tr td form input{
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    border-bottom-style: none;
    padding: 10px 30px;
}



.aside-1 {
    background: white;
    min-height: 1px;
}

.aside-2 {
    background: white;
    min-height: 1px;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main    {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main    {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer  {
        order: 4;
    }
}

body {
    padding-top: 70px;

}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    text-align:center;
    color:white;
}
.footer {
    flex-shrink: 0;
}
