@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #F1F2F3;
}
a{
    color:#727272;
}
p{
    color: white;
}
h1{
    display:block;
    margin-left:28%;
    color:#008198;
    font-weight: bold;
}

/*Navbar*/
.navbar{
    display:inline;
}
.nav-item {
    background-color: #02BFC0;
}
.nav-link{
    color:white;
}
a.navbar-brand{
    color: white;
    background-color: #02BFC0;
}
.container-fluid{
    background-color: #02BFC0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navbar-expand-lg{
    /*    display: contents;*/
    background-color: #02BFC0;
    width: 100%;
    margin:auto;
}
.navbar-expand-lg .navbar-collapse {
    /*    flex-basis: auto;*/
    flex-flow: column;
    flex-direction: column;
    flex-wrap: initial;
}


.box {
    display: flex;
    justify-content: space-between;
}
.container{
    margin-bottom: 200px;
}



.matriz{
    display: inline-block;
    transform: translate(20%,30%);
    color:black;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    background-color: white;
    color:black;

}
.card{
    margin-bottom: 80px;
    margin-right: 40px;
    background-color: #59798D;
    color: white;
    margin-left: 15%;
}

.breadcrumb{
    transform: translate(20%,30%);
}
.cat{
    color :white;
    font-weight: bold;

}

.btn{
    background-color: #02BFC0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2vh;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    position: relative;
    padding: 5px;

}
.btn a{
    text-decoration: none;
    color: whitesmoke;
}


.wrap-collabsible{
    transform: translateY(150px) ;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    

}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {

    display: block;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    color: white;
    background: #008198;

}
.lbl-toggle:hover {

font-weight: 900;
}


.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100%;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.collapsible-content .content-inner {

    background: #727272;
    border-bottom: 1px solid #00000;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
    color:white;
}

.content-inner {
    color:white;
}











/*
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar{
    width: 70%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background: #02BFC0;
    border-radius: 12px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    transform: translate(-1%,0%);
}
nav{
    flex: 1;
}
nav ul{
    align-items: center;
    text-align: center;
    padding-top: 8px;
}
nav ul li i{
    font-size: 25px;
    color: whitesmoke;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul li a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color:#005F76;
}
nav i{
    color:whitesmoke;
    text-align: right;
    margin-left: 10%;
    font-size: 25px;
}
.display-5{
    margin-top: 20px;
}
h1{
    color: #008198;
    transform: translateY(100px);
    text-align: center;
}
p{
    color: white;
}

.wrap-collabsible{
    transform: translateY(150px) ;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    

}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {

    display: block;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    color: white;
    background: #008198;

}
.lbl-toggle:hover {

font-weight: 900;
}


.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100%;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.collapsible-content .content-inner {

    background: #727272;
    border-bottom: 1px solid #00000;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
    color:white;
}

.content-inner {
    color:white;
}*/