@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #F1F2F3;
}
a{
    color:#727272;
}
p{
    color:#727272;
}
h1{
    display:block;
    margin-left:5%;
    color:#008198;
    font-weight: bold;
}

/*Navbar*/
.navbar{
    display:inline;
}
.nav-item {
    background-color: #02BFC0;
}
.nav-link{
    color:white;
}
a.navbar-brand{
    color: white;
    background-color: #02BFC0;
}
.container-fluid{
    background-color: #02BFC0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navbar-expand-lg{
    /*    display: contents;*/
    background-color: #02BFC0;
    width: 100%;
    margin:auto;
}
.navbar-expand-lg .navbar-collapse {
    /*    flex-basis: auto;*/
    flex-flow: column;
    flex-direction: column;
    flex-wrap: initial;
}




.breadcrumb{
    transform: translate(20%,30%);
}


.btn{
    background-color: #02BFC0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2vh;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    position: relative;
    padding: 5px;

}
.btn a{
    text-decoration: none;
    color: whitesmoke;
}
.content{
    position:absolute;
    top:50%;
    left:50%;
    right:50%;
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transform:translate(-50%,-40%);
}


.content h1{
    text-align: center;
    padding: 20px 0;

    color: #02bfc0;
    background-color: #ffffff;

}


.content form{
    top: 30%;
    padding: 0 40px;
    box-sizing: border-box;
    height: auto;

    
}


.txt_field1 input{
    width:100%;
    padding:0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
    position:relative;
    border: 2px solid #727272;
    margin: 60px 0;
    overflow: auto;
    border-radius: 10px;
}


.txt_field1 label{
    position: absolute;
    top:25%;
    left:0px;
    color: #02bfc0;
    transform: translateY(65%) translateX(55%);
    font-size: 16px;
    pointer-events: none;
    overflow: hidden;

}


.txt_field2 input{
    width:100%;
    padding:0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
    position:relative;
    border: 2px solid #727272;
    margin: 30px 0;
    overflow: hidden;
    border-radius: 10px;
    transform: translateY(-60%);
}

.txt_field2 label{
    position: absolute;
    top:25%;
    left:0px;
    color: #02bfc0;
    transform: translateY(540%) translateX(55%);
    font-size: 16px;
    pointer-events: none;
    overflow: hidden;

}
.content a{
    display:inline-block;
    font-size:1em;
    background: #2ae4fe;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transform: translateX(50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}



.boton{
    background-color: #59798D;
    transform: translateX(80%) translateY(-80%);
    color: white;
    width: 40%;
    border-radius: 8px;
}

.foot{
    margin-top: 1000px;
}