@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/loginBack.jpg);
    background-size: cover;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    flex: 1 0 auto;
    
    
}

.wrapper > * {
    padding: 30px;
    /*    flex: 1 100%;*/
    flex: 1 0 auto;
    
}

.header {
    background: tomato;
}

.footer {
    background: lightgreen;
}

.main {
    text-align: left;
    
}

.boton{
    border-radius: 8px;
    width: 12%;
    height: 30px;
    background-color: #bfffff;
    text-decoration: none;
    border: none;
    font-weight: bold;
}

input{
    
}
label{
    margin-right: 10px;
}
.remember{
    margin-top: 20px;
}
.aside-1 {
    
    min-height: 1px;
}

.aside-2 {
    
    min-height: 1px;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main    {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main    {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer  {
        order: 4;
    }
}

body {
    padding-top: 70px;

}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
/*    margin: auto;
    width: 220px;
    min-height: 400px;*/
/*    left      : 50%;
    top       : 50%;*/
/*    position  : absolute;
    transform : translate(-50%, -50%);*/
}
h1{
    text-align:center;
    color:white;
}
.footer {
    flex-shrink: 0;
}
