@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}



.userName{
    margin-left: .5rem;
    margin-right: 1rem;
}



ul li a {
    font-weight:bold;
}

ul li a :hover{
    color: #008198;
}




.one {
    grid-column: 1 / 1;
    grid-row: 1;
    margin: auto;
}
.two {
    grid-column: 2 / 2;
    grid-row: 1;
    margin: auto;
    opacity: 0.6;

}
.three {
    grid-column: 3/3;
    grid-row: 1;
    margin: auto;
    opacity: 0.6;
}
.four {
    grid-column: 4/4;
    grid-row: 1;
    margin: auto;
    opacity: 0.6;
}
.five {
    grid-column: 5/5;
    grid-row: 1;
    margin: auto;
    opacity: 0.6;
}
.six {
    grid-column: 6/6;
    grid-row: 1;
    margin: auto;
    opacity: 0.6;
}
.socialMedia{
    margin-right: 40px;
    opacity: 0.8;

}
.footer {
    flex-shrink: 0;
}
