

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Categorias</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/productos.css}">
        <meta charset="UTF-8">
    </head>
    <body>
    <navbar th:replace="plantilla/plantilla2::header"></navbar>
    <div class="container">

    </div>
    <div class="content">
        <h1 th:text="${titulo}"></h1>
        <div class="lista">
            <table>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Editar</th>
                </thead>
                <tbody>
                <th:block th:each="cate : ${categorias}">
                    <tr>
                        <td th:text="${cate.getIdcategoria}"></td>
                        <td th:text="${cate.getNombre}"></td>

                        <td>
                            <div class="btn">
                                <a th:href="@{/deleteCategorias/{id}(id=${cate.getIdcategoria})}">Eliminar</a>
                            </div>

                        </td>
                        <td>
                            <div class="btn">
                                <a th:href="@{/editCategorias/{id}(id=${cate.getIdcategoria})}">Edit</a>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div> 
    </div>
</footer>
</html>
