<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Registrar un producto</title>
            <link rel="stylesheet" th:href="@{crear.css}">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <form th:object = "${productos}" th:action="@{/save}"method="POST">
                <div>
                    
                    <label for="nombre">Nombre</label>
                    <input type="text" th:field="*{nombre}" placeholder= "Nombre" id="nombres">
                </div>
                <div>
                    <label for="nombre">Marca</label>
                    <input type="text" th:field="*{marca}" placeholder= "Marca" id="marcas">
                </div>
                <div>
                    <label for="nombre">Precio</label>
                    <input type="text" th:field="*{precio}" placeholder= "Precio" id="precios">
                </div>
                <div>
                    <label for="nombre">Cantidad</label>
                    <input type="text" th:field="*{cantidad}" placeholder= "Cantidad" id="cantidades">
                </div>
                <div>
                    <label for="nombre">Descripcion</label>
                    <input type="text" th:field="*{descripcion}" placeholder= "Descripcion" id="descripciones">
                </div>

                <br>
                <button type="sibmit" value="Guardar">Submit</button>



            </form>
        </body>
    </html>

