<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" th:href="@{home.css}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a href="contact"><i class="bi bi-emoji-sunglasses"></i></a></li>
                        <li><a href="home">Acerca de</a></li>
                        <li><a href="users">Registro</a></li>
                        <li><a href="reviews">Contacto</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="contact">Galería</a></li>
                        <li><a href="contact"><i class="bi bi-person"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <h1 class="display-5">Acerca de</h1>
                <p class="pharagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum luctus erat, vitae pulvinar lorem faucibus vitae. Donec id felis tortor. Curabitur convallis dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus bibendum erat ultricies arcu pulvinar venenatis. Quisque dignissim, ante et volutpat aliquet, ipsum est auctor dolor, vitae vestibulum nibh massa eu risus. Ut vehicula quam nec congue varius. Vestibulum blandit, dui vitae cursus hendrerit, lectus nisl sollicitudin nibh, in cursus lorem lectus nec tortor.
                </p>
                <img th:src="@{home01.png}" class="img-fluid" alt="...">
                <img src="home01.png" class="img-fluid" alt="...">
                <p class="pharagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum luctus erat, vitae pulvinar lorem faucibus vitae. Donec id felis tortor. Curabitur convallis dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus bibendum erat ultricies arcu pulvinar venenatis. Quisque dignissim, ante et volutpat aliquet, ipsum est auctor dolor, vitae vestibulum nibh massa eu risus. Ut vehicula quam nec congue varius. Vestibulum blandit, dui vitae cursus hendrerit, lectus nisl sollicitudin nibh, in cursus lorem lectus nec tortor.
                </p>
                <p class="pharagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum luctus erat, vitae pulvinar lorem faucibus vitae. Donec id felis tortor. Curabitur convallis dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus bibendum erat ultricies arcu pulvinar venenatis. Quisque dignissim, ante et volutpat aliquet, ipsum est auctor dolor, vitae vestibulum nibh massa eu risus. Ut vehicula quam nec congue varius. Vestibulum blandit, dui vitae cursus hendrerit, lectus nisl sollicitudin nibh, in cursus lorem lectus nec tortor.
                </p>
                <h1 class="display-5">Aliados comerciales</h1>
                <img src="../images/home04.jpg" class="img-fluid" alt="...">
                <p class="pharagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum luctus erat, vitae pulvinar lorem faucibus vitae. Donec id felis tortor. Curabitur convallis dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus bibendum erat ultricies arcu pulvinar venenatis. Quisque dignissim, ante et volutpat aliquet, ipsum est auctor dolor, vitae vestibulum nibh massa eu risus. Ut vehicula quam nec congue varius. Vestibulum blandit, dui vitae cursus hendrerit, lectus nisl sollicitudin nibh, in cursus lorem lectus nec tortor.
                </p>
                <div class="logos">
                    <img src="../home03.png" class="img-fluid" alt="...">
                </div>
            </div>
            <section>
                <p>2022. All rights reserved</p>
                <ul>
                    <a href="home.html">Terms of Use</a>
                    <a href="users.html">Sales</a>
                    <a href="reviews.html">legal</a>
                    <a href="faq.html">Site Map</a>
                </ul>
            </section>

        </div>
    </div>
</html>