<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Home</title>
        <base target="_self"> 
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <meta charset="UTF-8">
    </head>
    <body>
    <navbar th:replace="plantilla/plantilla::header"></navbar>
    <div class="container">

        <div class="content">
            <h1 class="display-5" th:text="#{acerca de}">xxx</h1>
            <p class="pharagraph">
                test
            </p>
            <img th:src="@{/img/home01.png}" class="img-fluid" alt="...">
            <img th:src="@{/img/home02.png}" class="img-fluid" alt="...">
            <p class="pharagraph">
                test2
            </p>
            <p class="pharagraph">
                test3
            </p>
            <h1 class="display-5">Aliados comerciales</h1>
            <img th:src="@{/img/home04.jpg}" class="img-fluid" alt="...">
            <p class="pharagraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum luctus erat, vitae pulvinar lorem faucibus vitae. Donec id felis tortor. Curabitur convallis dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus bibendum erat ultricies arcu pulvinar venenatis. Quisque dignissim, ante et volutpat aliquet, ipsum est auctor dolor, vitae vestibulum nibh massa eu risus. Ut vehicula quam nec congue varius. Vestibulum blandit, dui vitae cursus hendrerit, lectus nisl sollicitudin nibh, in cursus lorem lectus nec tortor.
            </p>
            <div class="logos">
                <img th:src="@{/img/home03.png}" class="img-fluid" alt="...">
            </div>
        </div> 
    </div>


</body>
</html>
