<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Products</title>
        <base target="_self"> 
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/productos.css}">
        <meta charset="UTF-8">
    </head>
    <body>

    <navbar th:replace="plantilla/plantilla2::header"></navbar>
    <h1 th:text="#{productos}">xxx</h1>
    <div class="container">
        <th:block th:each="prod : ${productos}">
            <div class="matriz">
                <div class="card" style="width: 20rem;">
                    <img th:src="@{${prod.getIdurl.getUrl}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[[${prod.getNombre}]]</h5>
                        <p class="card-text"><section class="cat">Descripcion:</section> [[${prod.getDescripcion}]]</p>
                        <p class="card-text"><section class="cat">Marca:</section> [[${prod.getIdmarca.getNombre}]]</p>
                        <p class="card-text"><section class="cat">Precio:</section> [[${prod.getPrecio}]]</p>
                        <p class="card-text"><section class="cat">Cantidad:</section> [[${prod.getCantidad}]]</p>
                        <p class="card-text"><section class="cat">Categoria:</section> [[${prod.getIdcategoria.getNombre}]]</p>
                        <div class="btn">
                            <a th:href="@{/deleteProducto/{id}(id=${prod.getId})}">Eliminar</a>
                        </div>
                        <div class="btn">
                            <a th:href="@{/editProducto/{id}(id=${prod.getId})}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div> 
</body>

<div class="foot">
    <footer th:replace="plantilla/plantilla::footer"></footer>
</div>
</html>
