@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: "Poppins", sans-serif;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;


}

li {
    float: left;
    height: 80px;


}

li a {
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: black;
    text-align: left;
    padding: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: #ffb700;
    color: black;
}

.table {
    display: table;
    margin: 0 auto;
}



.menu-outer{
    background-color: white;
    border-radius: 25px;
}


body{
    background-color: #f1f2f3;
}

.content{
    position:absolute;
    top:53%;
    left:50%;
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transform:translate(-50%,-50%);
}


.content h1{
    text-align: center;
    padding: 20px 0;

    color: #02bfc0;
    background-color: #ffffff;

}


.content form{
    top: 50%;
    padding: 0 40px;
    box-sizing: border-box;
    height: auto;
}


.txt_field1 input{
    width:100%;
    padding:0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
    position:relative;
    border: 2px solid #7714ff;
    margin: 60px 0;
    overflow: auto;
    border-radius: 10px;
}


.txt_field1 label{
    position: absolute;
    top:48%;
    left:5px;
    color: #02bfc0;
    transform: translateY(-500%) translateX(24%);
    font-size: 16px;
    pointer-events: none;
    overflow: hidden;

}


.txt_field2 input{
    width:100%;
    padding:0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
    position:relative;
    border: 2px solid #7714ff;
    margin: 30px 0;
    overflow: hidden;
    border-radius: 10px;
    transform: translateY(-60%);
}

.txt_field2 label{
    position: absolute;
    top:43%;
    left:5px;
    color: #02bfc0;
    transform: translateY(65%) translateX(70%);
    font-size: 16px;
    pointer-events: none;
    overflow: hidden;

}

.txt_field3 input{
    width:100%;
    padding:0 5px;
    height: 100px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
    position:relative;
    border: 2px solid #7714ff;
    margin: 30px 0;
    overflow: auto;
    border-radius: 10px;
    transform: translateY(-30%);
}


.txt_field3 label{
    position: absolute;
    top:37%;
    left:6px;
    color: #02bfc0;
    transform: translateY(600%) translateX(50%);
    font-size: 16px;
    pointer-events: none;
    overflow: hidden;

}





.content a{
    display:inline-block;
    font-size:1em;
    background: #2ae4fe;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transform: translateX(50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}



.boton{
    transform: translateX(225%) translateY(-80%);
    color: white;
}

