@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
/*body{
height: 100vh;
width: 100%;
overflow: hidden;
}*/
/*.container{
background-color: red;
height: 100vh;
width: 100%;
overflow: hidden;
}*/
.navbar{
width: 70%;
margin-top: 8px;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
background: #02BFC0;
border-radius: 12px;
box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}
nav{
flex: 1;
}
nav ul{
align-items: center;
text-align: center;
padding-top: 8px;
}
nav ul li i{
font-size: 25px;
color: whitesmoke;

}
nav ul li{
display: inline-block;
list-style: none;
margin: 0 20px;
}
nav ul li a{
text-decoration: none;
color: whitesmoke;
}
nav ul li a:hover{
text-decoration: underline;
font-weight: bolder;
color:#005F76;
}
nav i{
color:whitesmoke;
text-align: right;
margin-left: 10%;
font-size: 25px;
}
.display-5{
margin-top: 20px;
}
h1{
color: #008198;
}
p{
color: #727272;
}
.logos{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
background: whitesmoke;
border-radius: 12px;
box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
width: 70%;
height: 400px;
}



section{
display: flex;
align-items: center;
margin-top: 5%;
}
section p{
display: inline-block;
list-style: none;
margin: 0 20px;
display: flex;
align-items: center;
text-decoration: none;
font-size: 1.2vh;
}
section ul{
margin: auto;
}
section ul a{
list-style: none;
margin: 0 20px;
display: flex;
align-items: center;
text-decoration: none;
display: inline-block;
font-size: 1.2vh;
color: #545e69;

}